.exp-cont{
    width: 100%;
    height: 140vh;
}
.exp-in1{
    height: 95vh;
}
.exp-in2{
    height: 95vh;
}
.experience-carousel{
    width: 90%;
    margin: auto;
}
.carousel-img{
    height: 70px;
    width: 100%;
}
.exp-btn:hover a{
    border-top: 1px solid orange;
}